* {
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
  /* border: 1px solid purple; */
}

/* establishes main styling for the app with background color and text color  */
body {
  background-color: rgb(170, 101, 52);
  color: wheat;
  font-family: 'Josefin Sans', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 20px 10px;
  background-color: seagreen;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: space-between;
  font-size: large;
  font-family: 'Josefin Sans', sans-serif;
}

/* main header styling including subtle shadow to name  */
h1 {
  margin-top: 25px;
  margin-bottom: 15px;
  padding-left: 20px;
  /* text-shadow: 3px 3px darkgreen; */

}

#aboutMe {
  display: block;
  padding-left: 190px;
  padding-right: 50px;
  padding-top: 30px;
  text-align: justify;
  font-size: larger;
}

/* label for main work section image/link  */
h3 {
  position: absolute;
  background-color: seagreen;
  padding: 30px;
  color: wheat;
  font-size: 20px;
  border-radius: 8px 0px 0px 0px;
}

/* labels for placeholder elements below main work picture  */
h4 {
  position: absolute;
  background-color: seagreen;
  padding: 15px;
  color: wheat;
  font-size: 15px;
  border-radius: 8px 0px 0px 0px;
}

.hero-text {
  font-family: 'Josefin Sans', sans-serif;
  font-size:x-large;
  font-weight: 1000;
}

/* inserts background image of nature and 'cool subtitle'  */
.hero {
  text-align: right;
  padding: 10px;
  background: url("./assets/images/55DF05E1-EDF7-4D56-9123-2C8B314951DFIMG_3651.jpg")
    no-repeat;
  background-size: cover;
  min-height: 125px;
}

#matter-of-taste {
  background: url('./assets/images/logo.png') no-repeat;
  background-size: contain;
  background-color: wheat;
}

#weather {
  
}

#tasty-jams {
  background: url('./assets/images/TastyJams-Logo-Horizontal.jpg') no-repeat;
  background-size:contain;
  border-radius: 8px;
}

.nav {
  list-style: none;
  display: flex;
  padding: 30px 15px;
  
}

/* removes default link elements and styles the according to rest of app  */
.nav-item a {
  padding: 10px;
  text-decoration: none;
  color: wheat;
  padding-top: 20%;
  font-size: larger;
  
}

section {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  border-color: wheat;
  border-bottom: 5px solid wheat;
  padding: 20px 20px;
  justify-content: space-between;
}

section > h2 {
  flex-basis: 50px;
}

section > p {
  flex-basis: 900px;
  font-size: large;
}

img {
  border-radius: 8px;
}

/* establishes size of main picure in work section  */
#hero-pic {
  max-width: 900px;
}

/* adds opacity while hovering and enlarges image slightly while hovering  */
#hero-pic:hover {
  opacity: 0.7;
  transform: scale(1.02);
}

.sub-pic {
  width: 825px;
  height: 250px;
  border-radius: 8px;
  background-color: wheat;
  flex-basis: 900px;
}

/* adds opacity and transforms a bit larger than hero-pic  */
.sub-pic:hover {
  opacity: 0.7;
  transform: scale(1.05);
}

/* aligns sub images evenly below main image  */
#pic-section {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  /* width: 100%; */
  gap: 20px;
  padding-right: 60px;
}

#ethan-pic {
  height: 100px;
  width: 100px;
  border-radius: 100px;
}

#header-pic {
  display: flex;
}

#contact {
  display: flex;
  /* justify-content: space-between; */
}

#name-form {
  display: flex;
  margin-left: 343px;
  padding: 20px;
}

#content-form {
  display: flex;
  justify-content: center;
  padding: 20px;
}

#submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: seagreen;
  color: wheat;
  font-weight: 900;
  height: 40px;
  width: 90px;
  border-radius: 9px;
  box-shadow: none;

}

#button-div {
  display: flex;
 margin-left: 655px;
  
}

.footer {
  display: flex;
  justify-content: space-around;
  height: 50px;
  margin-top: auto;
  padding: 20px;
  
}

.no-decoration {
  text-decoration: none;
  color: inherit;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Style buttons */
.btn {
  
  background-color: seagreen;
  border: none;
  color: wheat;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
  margin-left: 40%;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: rgb(58, 132, 90);
}